#simple-legend-container{
  border-radius: 10px;
  width: 300px;
  background-color:#FFFFFF;
  position: absolute !important;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

#simple-legend-title{
  cursor: initial;
  line-height: 20px;
  text-align: center;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  font-weight: bold;
  font-family: Muli, "sans-serif";
  color: #6c6c6c;
  background-color:#f4f4f4;
}

#simple-legend-body{
background-color: #FFFFFF;
height:180px;
overflow-y: auto;
resize: vertical;
}

.simple-legend-content{
  display:block;
  margin-left: 10px;
}

.simple-legend-content-title{
  display: block;
  font-style: italic;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
}

.simple-legend-content-image {
  margin-left: 10px;
}

#legend-Show-Hide{
  float: left !important;
  font-size: 16px !important;
  font-weight: bold !important;
  color:#6c6c6c !important;
  text-decoration: none;
  padding: 2px !important;
}

#legend-Show-Hide:hover{
  cursor: pointer !important;
}