<div id="simple-legend-container" class="m-control m-container m-simplelegend" draggable="{{draggable}}">
  <div id="simple-legend-title">{{title}}</div>
  <div id="simple-legend-body">
    {{#each legendElements}}
    <div id="legend_{{this.name}}" class="simple-legend-content">
      <label id='title_{{this.name}}'class="simple-legend-content-title">{{this.title}}</label>
      <img id="img_{{this.name}}" src="{{this.image}}" alt="{{this.title}}" class ="simple-legend-content-image">
    </div>
    {{/each}}
  </div>
</div>